@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<footer class="footer bg-dark text-white pt-4">
    <div class="container">

        <!-- Layout 4 cột – desktop & tablet -->
        <div class="row footer-top d-none d-sm-flex">
            <div class="footer-section col-6 col-md-3">
                <h3>@Localizer["About"]</h3>
                <ul>
                    <li><a href="/ve-chung-toi/">@Localizer["About"]</a></li>
                    <li><a href="/thoa-thuan-su-dung/">@Localizer["TermsOfUse"]</a></li>
                    <li><a href="/quy-che-hoat-dong/">@Localizer["OperatingRegulations"]</a></li>
                    <li><a href="/chinh-sach-bao-mat/">@Localizer["PrivacyPolicy"]</a></li>
                </ul>
            </div>
            <div class="footer-section col-6 col-md-3">
                <h3>@Localizer["CinemaCorner"]</h3>
                <ul>
                    <li><a href="/dien-anh/">@Localizer["Genres"]</a></li>
                    <li><a href="/binh-luan-phim/">@Localizer["Reviews"]</a></li>
                    <li><a href="/movie-blog/">@Localizer["MovieBlog"]</a></li>
                    <li><a href="/phim-hay/">@Localizer["MonthlyHighlights"]</a></li>
                    <li><a href="/phim-imax/">@Localizer["IMAX"]</a></li>
                </ul>

            </div>
            <div class="footer-section col-6 col-md-3">
                <h3>@Localizer["Support"]</h3>
                <ul>
                    <li><a href="/gop-y/">@Localizer["Feedback"]</a></li>
                    <li><a href="/sale-and-service/">@Localizer["SaleServices"]</a></li>
                    <li><a href="/rap-gia-ve/">@Localizer["CinemasPrices"]</a></li>
                    <li><a href="https://tuyendung-daotao.galaxystudio.vn/" target="_blank">@Localizer["Careers"]</a></li>
                    <li><a href="/hoi-dap/">@Localizer["FAQ"]</a></li>
                </ul>

            </div>
            <div class="footer-section col-6 col-md-3 text-center text-md-start">
                <img src="https://www.galaxycine.vn/media/2024/11/11/glx-footer.svg" alt="Galaxy Cinema" class="img-fluid mb-3" style="max-width: 140px;">
                <div class="social-icons justify-content-center justify-content-md-start">
                    <a href="#" class="social-icon"><img src="~/images/facebook.png" alt="Facebook"></a>
                    <a href="#" class="social-icon"><img src="~/images/youtube.png" alt="YouTube"></a>
                    <a href="#" class="social-icon"><img src="~/images/instagram.png" alt="Instagram"></a>
                </div>
                <img src="/picture/Bocongthuong.png" alt="Bộ Công Thương" class="bocongthuong">
            </div>
        </div>

        <!-- Mobile layout -->
        <div class="d-block d-sm-none">
            <div class="row gx-2 gy-3">
                <div class="col-6">
                    <h6 class="fw-bold text-uppercase">@Localizer["About"]</h6>
                    <ul class="list-unstyled small mb-0">
                        <li><a href="#" class="text-white text-decoration-none">@Localizer["About"]</a></li>
                        <li><a href="#" class="text-white text-decoration-none">@Localizer["TermsOfUse"]</a></li>
                        <li><a href="#" class="text-white text-decoration-none">@Localizer["OperatingRegulations"]</a></li>
                        <li><a href="#" class="text-white text-decoration-none">@Localizer["PrivacyPolicy"]</a></li>
                    </ul>
                </div>
                <div class="col-6">
                    <h6 class="fw-bold text-uppercase">@Localizer["CinemaCorner"]</h6>
                    <ul class="list-unstyled small mb-0">
                        <li><a href="#" class="text-white text-decoration-none">@Localizer["Genres"]</a></li>
                        <li><a href="#" class="text-white text-decoration-none">@Localizer["Reviews"]</a></li>
                        <li><a href="#" class="text-white text-decoration-none">@Localizer["MovieBlog"]</a></li>
                        <li><a href="#" class="text-white text-decoration-none">@Localizer["MonthlyHighlights"]</a></li>
                        <li><a href="#" class="text-white text-decoration-none">@Localizer["IMAX"]</a></li>
                    </ul>
                </div>
                <div class="col-6">
                    <h6 class="fw-bold text-uppercase">@Localizer["Support"]</h6>
                    <ul class="list-unstyled small mb-0">
                        <li><a href="#" class="text-white text-decoration-none">@Localizer["Feedback"]</a></li>
                        <li><a href="#" class="text-white text-decoration-none">@Localizer["SaleServices"]</a></li>
                        <li><a href="#" class="text-white text-decoration-none">@Localizer["CinemasPrices"]</a></li>
                        <li><a href="#" class="text-white text-decoration-none">@Localizer["Careers"]</a></li>
                        <li><a href="#" class="text-white text-decoration-none">@Localizer["FAQ"]</a></li>
                    </ul>
                </div>
                <div class="col-6">
                    <img src="~/images/hub_logo_new.png" alt="Logo" style="width: 100px;" class="mb-2">
                    <div class="d-flex gap-2 mb-2">
                        <img src="~/images/facebook.png" alt="Facebook" style="width: 26px;">
                        <img src="~/images/youtube.png" alt="YouTube" style="width: 26px;">
                        <img src="~/images/instagram.png" alt="Instagram" style="width: 26px;">
                    </div>
                    <img src="/picture/Bocongthuong.png" style="max-width: 90px;" alt="Bộ Công Thương">
                </div>
            </div>
        </div>

        <!-- Footer bottom -->
        <div class="footer-bottom">
            <div class="d-flex align-items-center gap-3 mb-3 mb-md-0">
                <img src="~/images/hub_logo_new.png" alt="Logo">
                <div>
                    <h6 class="mb-1">@Localizer["CompanyName"]</h6>
                    <p class="mb-0">@Localizer["CompanyAddress"]</p>
                    <p class="mb-1">
                        @Localizer["CompanyContact"]
                        <a href="mailto:hotro@galaxystudio.vn">hotro@hubstudio.vn</a>
                    </p>
                </div>
            </div>
        </div>

    </div>
</footer>
