<!-- Modal đăng nhập -->
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
<div id="loginModal" class="custom-modal-overlay" style="display:none;">
    <div class="custom-modal-box">
        <button class="custom-modal-close" onclick="closeLoginModal()">×</button>
        <div class="text-center mb-4">
            <img src="/images/hub_logo_new.png" width="150" alt="Login" />
            <h4 class="fw-bold mt-2">@Localizer["LoginTitle"]</h4>
        </div>

        <form asp-controller="Login" asp-action="Login" method="post">
            <div class="form-group mb-3">
                <label>@Localizer["EmailLabel"]</label>
                <input type="email" name="email" class="form-control" placeholder="@Localizer["EmailPlaceholder"]" required />
            </div>

            <div class="form-group mb-3">
                <label>@Localizer["PasswordLabel"]</label>
                <div class="input-group">
                    <input type="password" name="password" id="loginPassword" class="form-control" placeholder="@Localizer["PasswordPlaceholder"]" required />
                    <span class="input-group-text" onclick="togglePassword('loginPassword', this)">
                        <i class="bi bi-eye-slash"></i>
                    </span>
                </div>
            </div>

            <button type="submit" style="background: #E48600;" class="btn w-100 text-white fw-bold">@Localizer["LoginButton"]</button>

            <div class="text-start mt-2" >
                <a href="javascript:void(0);" onclick="openForgotModal()" class="text-orange link">@Localizer["ForgotPassword"]</a>
            </div>

            <hr />
            <div class="text-center">
                @Localizer["NoAccountQuestion"] <a href="javascript:void(0);" onclick="openRegisterModal()" class="text-orange link">@Localizer["RegisterNow"]</a>
            </div>
        </form>
        @if (TempData["LoginMessage"] != null)
        {
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                @TempData["LoginMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

    </div>
</div>
